body{
	background-color: #d54d57;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	color: #fccd7e;
}


#header{
	background-color:#fccd7e;
	overflow: hidden;
}


#logo{
	float: left;
}


#menu{
	float: right;
	
	background-color: #d54d57;
	cursor: pointer;
	
}
#menu ul{
	margin: 0;
	padding: 0;
}
#menu li{
	float: right;
	list-style-type: none;
	padding: 8px;
	color:#fccd7e;

}

#logo img {
	width: 80px;
	margin:5px 0 0 5px;
}

input#city{
	
	width: 50%;
	height: 30px;
	display: block;
	margin: 8px auto 8px auto;
	text-align: center;
	border: none;
	outline: none;
	border-radius: 15px;
	background-color: #fccd7e;


}

input:focus{
	font-size: 25px;
	color:#d54d57;
}




#rezultati{
	clear: both;
	text-align: center;
	
}	


img.ikona{
	display: none;
	width: 50px;
	height: 50px;
}

span{

	display: none;
}

h1{
	font-size: 50px;
}

